/WS03/Hola Mundo/nbproject/private/
/WS03/Hola Mundo/build/
/WS03/Hola Mundo/dist/
/WS06/ArchivosTxt/nbproject/private/
/WS06/ArchivosTxt/build/
/WS06/PruebaFicheros/nbproject/private/
/WS06/PruebaFicheros/build/
/WS06/Ficheros/nbproject/private/
/WS06/DataTypes/nbproject/private/
/WS06/DataTypes/build/