/WS03/Hola Mundo/nbproject/private/
/WS03/Hola Mundo/build/
/WS03/Hola Mundo/dist/
/WS06/ArchivosTxt/nbproject/private/
/WS06/ArchivosTxt/build/
/WS06/PruebaFicheros/nbproject/private/
/WS06/PruebaFicheros/build/
/WS06/Ficheros/nbproject/private/
/WS06/DataTypes/nbproject/private/
/WS06/DataTypes/build/
/WS06/FileManager/nbproject/private/
/WS06/FileManager/build/
/WS06/FileManager/dist/
/WS06Libraries/FileManager/build/
/WS06Libraries/FileManager/dist/
/WS06Libraries/FileManager/nbproject/private/
/WS04/AntSimulator/build/
/WS08/ChickenFarm/nbproject/private/
/WS08/ChickenFarm/build/
/WS08/Questionarie/nbproject/private/
/WS08/Questionarie/build/
/WS08/Diagrams/nbproject/private/
/WS08/Diagrams/build/
/WS08/WS10Associations/build/
/WS08/WS10Associations/nbproject/private/
/WS10Associations/build/
/WS10Associations/nbproject/private/
/WS09/ChickenFarmArrayList/build/
/WS09/ChickenFarmArrayList/nbproject/private/